body{
    background-color: pink;
    
}
#header{
    background-color:rgb(171, 170, 170);
}
.container{
    max-width: 1000px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo{
    padding: -5px 10px; 
}
#logo img{
    max-width: 100px;
    height: auto;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li a{
    color: pink;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}